body {
  background: #ffb6c1;
  text-align: center;
}

.content {
  display: flex;
  width: 420px;
  height: 420px;
  margin: 0 auto;
}

h1 {
  font-family: 'Shrikhand', cursive;
  font-size: 56px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 20px;
  color: white;
  -webkit-text-stroke: 1px grey;
}

table {
  border-collapse: collapse;
}

td {
  width: 140px;
  height: 140px;
  padding: 0;
  margin: 0;
  cursor: pointer;
  transition: background-color 0.5s linear;
 -moz-transition: background-color 0.5s linear;
 -webkit-transition: background-color 0.5s linear;
 -ms-transition: background-color 0.5s linear; 
}

td:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  z-index: 1;
}





.top-left {
  background: #A0A0A0;
}
.top-center {
  background: #C8C8C8;
}
.top-right {
  background: #909090;
}
.middle-left {
  background: #888888;
}
.middle-center{
  background: #989898;
}
.middle-right{
  background: #787878;
}
.bottom-left{
  background: #D0D0D0;
}
.bottom-center{
  background: #707070;
}
.bottom-right {
  background: #A8A8A8;
}

.selected {
  /*box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);*/
  background: white;
}
